@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Patua+One&display=swap');


* {
    padding: 0;
    margin: 0;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin-left: 90px;
}

.select_item {
    float: left;
    display: flex;
    flex-direction: column;
}

.select_item .item {
    width: 100px;
    height: 100px;
    opacity: 0.5;
    border: none;
    margin: 10px;
}

.item.on {
    opacity: 1;
    border: 3px solid dodgerblue;
    border-radius: 20px;
}

.main_img img {
    width: 400px;
    height: 400px;
    float: left;
}

.text_wrap {
    font-family: "Patua One", serif;
    flex-direction: column;
}

.shop {
    color: dodgerblue;
    font-size: 15pt;
}

.title {
    font-size: 30pt;
}

.desc {
    color: gray;
    font-family: "Merriweather", serif;
    margin: 10px;
}

.price_wrap {
    font-family: "Merriweather", serif;
    font-weight: bold;
    margin: 10px;
    display: flex;
}

.price {
    font-size: 27pt;
    margin: 10px 0;
}

.discount {
    background-color: lightskyblue;
    color: dodgerblue;
    display: inline-block;
    width: 55px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin: 20px 0 50px 10px;
}

.before {
    color: gray;
    font-size: 13pt;
    position: absolute;
    margin-top: 60px;
}

.size_wrap {
    font-family: "Merriweather", serif;
    font-weight: bold;
}

.size_wrap ul {
    margin-bottom: 30px;
}

.size_wrap ul li {
    display: inline-block;
    padding: 10px;
    width: 30px;
    text-align: center;
}

#size.on {
    background-color: black;
    color: #fff;
}

.choose {
    margin: 20px;
}

.btn button {
    font-family: "Merriweather", serif;
    font-size: 15px;
    width: 500px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    border: none;
    background-color: dodgerblue;
}